
{% block content %}
  <h2>비밀번호 재설정</h2>
  
  {% if form %}
    <form method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      
      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}
      {% if form.new_password1.errors %}
        <div class="error">{{ form.new_password1.errors }}</div>
      {% endif %}
      
      {{ form.new_password2.label_tag }}
      {{ form.new_password2 }}
      {% if form.new_password2.errors %}
        <div class="error">{{ form.new_password2.errors }}</div>
      {% endif %}
      
      <button type="submit">비밀번호 재설정</button>
    </form>
  {% else %}
    <p>유효하지 않은 링크입니다.</p>
  {% endif %}
{% endblock %}
