<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>비밀번호 설정</title>
    <link rel="stylesheet" href="{% static 'set_password.css' %}"> <!-- CSS 파일 연결 -->
</head>
<body>
    <form method="post">
        <h1>비밀번호 설정</h1>
        {% csrf_token %}
        <div>
            <label for="id_new_password1">새 비밀번호:</label>
            {{ form.new_password1 }}  <!-- 비밀번호 입력란 -->
            {% if form.new_password1.errors %}
                <div class="error">{{ form.new_password1.errors }}</div>
            {% endif %}
        </div>

        <div>
            <label for="id_new_password2">비밀번호 확인:</label>
            {{ form.new_password2 }}  <!-- 비밀번호 확인 입력란 -->
            {% if form.new_password2.errors %}
                <div class="error">{{ form.new_password2.errors }}</div>
            {% endif %}
        </div>

        <button type="submit">비밀번호 설정</button>
    </form>
</body>
</html>
