<!-- Header -->
{% load static %}
{% load humanize %}
<header>
    <div class="top-links">
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="link_text">{{ user.username }} 님</a>
            <a href="{% url 'logout' %}" class="link_text">로그아웃</a>
        {% else %}
            <a href="{% url 'signup' %}" class="link_text">회원가입</a>
            <a href="{% url 'login' %}" class="link_text">로그인</a>
        {% endif %}
        <a href="{% url 'cs_index' %}" class="link_text">고객센터</a>
    </div>
    <div class="header-content">
        <a href="/" class="logo">
            <img src="{% static 'images/마켓로고.png' %}" alt="마켓로고">
        </a>
        
        <form class="search-form">
            <div class="search_box">
                <input type="text" maxlength="225" tabindex="1" placeholder="검색어를 입력하세요">
                <button type="submit" tabindex="2">
                    <img src="{% static 'images/돋보기 로고.png' %}" alt="검색">
                </button>
            </div>
        </form>
        
        <div class="icons">
            <a href="#"><img src="{% static 'images/위치.png' %}" alt="위치"></a>
            <a href="#"><img src="{% static 'images/좋아요.png' %}" alt="좋아요"></a>
            <a href="/cart/"><img src="{% static 'images/장바구니.png' %}" alt="장바구니"></a>
        </div>
    </div>

    <nav>
    <div class="nav_items">
        <div class="category-link">
            <ul>
                <li class="category-item">
                    <a href="/">
                        <img src="{% static 'images/카테고리앞.svg' %}"> 카테고리 
                        
                    </a>
                    <!-- 세부 카테고리 목록 -->
                    <div class="sub-category">
                        <ul>
                            {% for category in categories %}
                                <li><a href="{% url 'shop:product_by_category' category.id %}">
                                    <span>{{ category.name }}</span>
                                </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <ul>
            <li><a href="/">신상품</a></li>
            <li><a href="/">베스트</a></li>
            <li><a href="/">알뜰쇼핑</a></li>
            <li><a href="{% url 'benefit_benefit' %}">특가/혜택</a></li>
        </ul>
        <img src="https://res.kurly.com/pc/service/common/1908/delivery_190819.gif" 
            alt="서울, 경기, 인천 샛별배송, 수도권 이외 지역 택배배송" 
            class="bnr_delivery_img">
    </div>
</nav>
</header>