/* 주문 내역 섹션 */
.order {
  width: 1000px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
}

/* 주문 내역 제목 */
.order h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: bold;
}

/* 주문 정보 테이블 */
.order-table {
  width: 960px;
  max-width: 960px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.order-table th, .order-table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.order-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.order-table td img {
  width: 100px;
  height: auto;
}

/* 총 가격 행 */
.order-table .total td {
  font-weight: bold;
  background-color: #f2f2f2;
}

/* 배송지 정보 폼 */
.order-form {
  margin-top: 30px;
  margin-bottom: 80px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-form p {
  display: flex;
  justify-content: center; /* 버튼을 중앙으로 정렬 */
  margin-top: 20px;
}

.order-form input[type="submit"] {
  display: block;
  width: 300px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.order-form input[type="submit"]:hover {
  background-color: #218838;
}

.order-form label {
  display: inline-block;
  width: 60px; /* 라벨의 너비 */
  text-align: center;
  margin-right: 30px; /* 입력 필드와 라벨 사이의 간격 */
  font-weight: bold;
}

.order-form input[type="text"],
.order-form input[type="email"],
.order-form input[type="tel"] {
  display: inline-block;
  width: 70%; /* 입력 필드의 너비를 라벨 크기에 맞추어 조정 */
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*주문완료*/

.complete {
  width: 50%;
  margin: 50px auto;
  margin-top: 100px;
  margin-bottom: 100px;  
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.complete h2 {
  font-size: 28px;
  color: #0a0a0a;
  margin-bottom: 20px;
}

.complete p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.complete .text-right {
  text-align: center;
  margin-top: 20px;
}
.complete .button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #050505;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.complete .button.light {
  background-color: #80f399;
}
