/* Main Content Style */
main {
    width: 1100px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 3px;
}

.order_view_table{
    width: 1000px;
    border-collapse: collapse;  
    margin-bottom: 20px;
    margin: 0 auto;  /* 자동으로 좌우 여백 설정 */
    border: 1px solid #dfdede;
}

.order_view_table th, .order_view_table td {
    padding: 12px 15px;
}

  
.order_view_table th {
    background-color: #89f18d;
    font-weight: bold;
    text-align: center;
    border: 1px solid #dfdede;
}
  
.order_view_table td {
    text-align: center;  
    border: 1px solid #dfdede;
}

/* 제품 이미지 스타일 */
.order_view_table tbody td img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

/* 구분선 없는 클래스 */
.no-border td {
    border-top: none;
}
